$pageBackground: #eef3fa;
$contentBackground: #ffffff;
$headerText: #ececec;
$postBackground: #efefef;
$postDescription: #e90303;
$postTitle: #0097a7;
$buttonBackground: #01acac;
$buttonLabel: #fffaea;
$headingColor: #010f16;
$borderColor: #607d8b;
$paragrafColor: #b2b5b7;
$headerBackground: url(../img/header_background_v1.jpg);
$fontStack: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;